.Button {
  background: none;
  border: 0;
  color: #5c6bc0;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
}

/*.Button:hover {
  border-color: rgba(238, 238, 238, 0.8);
}

.Button:focus {
  border-color: #5c6bc0;
}*/
