.Text {
  color: rgba(0,0,0,.8);
  font-size: 17px;
  line-height: 30px;
}

/* size */
.Text.Text--small { font-size: 14px; }
.Text.Text--medium { font-size: 17px; }
.Text.Text--large { font-size: 25px; }
.Text.Text--x-large { font-size: 42px; }

/* weight */
.Text.Text--bold { font-weight: 700; }
.Text.Text--normal { font-weight: 400; }

/* colors */
.Text.Text--gray { color: rgba(0,0,0,.5); }
.Text.Text--lightgray {}

/* style */
.Text.Text--italic { font-style: italic; }

/* margins */
.Text.Text--tight { margin: 0; }

/* advanced customization */
/* TODO: revisit */
.Text.Text--emphasized {
  margin: 35px 0 0;
  line-height: 38px;
}
