.Text {
  color: rgba(0,0,0,.8);
  font-size: 17px;
  line-height: 30px;
}

/* font weight */
.Text.Text--bold { font-weight: bold; }
.Text.Text--normal { font-weight: normal; }

/* font-size */
.Text.Text--small {}

/* margins */
.Text.Text--tight { margin: 0; }
