.Card {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  margin: 0 0 50px;
}

.CardImage {
  /* TODO: remove hack */
  max-height: 530px;
  width: 100%;
}

.CardTitle {
  font-size: 40px;
  margin: 25px 0 0;
}

.CardContent {
  padding: 60px 95px 60px;
  position: relative;
}

