.Header {
  padding: 75px 0;
}

.HeaderTitle {
  float: left;
  line-height: 36px;
  margin: 0;
}

.HeaderTitle > a {
  color: #333;
  text-decoration: none;
  transition: .3s ease color;
}

.HeaderTitle > a:hover {
  color: #5c6bc0;
}

.HeaderNav {
  float: right;
  margin: 10px 0 0;
}
