.Header {
  padding: 75px 0;
}

.HeaderTitle {
  color: #333;
  float: left;
  font-size: 42px;
  font-style: italic;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

.HeaderNav {
  float: right;
  margin: 10px 0 0;
}
