.App {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 30px;
}

/* for page load */
.ProgressBar {
  background-color: #5c6bc0;
  height: 4px;
  left: 0;
  position: fixed;
  top: 0;
  width: 52.5%;
}
