.PostCategory {
  background-color: #5c6bc0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  position: absolute;
  right: -12px;
  text-decoration: none;
  top: 20px;
  transition: .4s ease transform;
  backface-visibility: hidden;
}

.PostCategory:hover {
  background-color: #6c79c6;
  transform: scale(1.1);
}

.PostCategory:focus {
  background-color: #5360ad;
  transform: scale(1.1);
}

.PostDate,
.PostName {
  font-weight: 700;
}

.PostDate,
.PostReadingTime {
  color: #bdbdbd;
  font-size: 14px;
}

.PostReadingTime::before {
  content: '.';
  margin: 0 5px;
  position: relative;
  top: -3.5px;
}

.PostFooter {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0;
}

.Divider {
  background-color: #eee;
  border: 0;
  height: 2px;
  margin: 50px 0 43px;
  width: 100%;
}
